.wrap {
	min-height: 100vh;
	background: #FCF9F2;

	&__brand {
		padding-top: 12%;
		text-align: center;
		font-size: 36rpx;
		font-weight: 800;
		color: #7D533C;
		letter-spacing: 2rpx;
	}

	&__image {
		display: flex;
		justify-content: center;
		margin-top: 40rpx;
	}

	&__title {
		font-size: 32rpx;
		font-weight: bold;
		color: #333;
		text-align: center;
		margin-top: 20%;
	}

	&__desc {
		font-size: 24rpx;
		color: $u-type-info;
		text-align: center;
		margin-top: 10%;
	}

	&__btn {
		background-color: #7D533C;
		color: white;
		width: 80%;
		border-radius: 18rpx;
		text-align: center;
		padding: 20rpx 0;
		margin: 20rpx auto 0 auto;
		letter-spacing: 2rpx;
	}
}