.wrap {

	&__image {
		display: flex;
		justify-content: center;
		margin-top: 30%;
	}

	&__title {
		font-size: 32rpx;
		font-weight: bold;
		color: #333;
		text-align: center;
		margin-top: 20%;
	}

	&__desc {
		font-size: 24rpx;
		color: $u-type-info;
		text-align: center;
		margin-top: 10%;
	}

	&__btn {
		background-color: #0A3D28;
		color: white;
		width: 80%;
		border-radius: 18rpx;
		text-align: center;
		padding: 20rpx 0;
		margin: 20rpx auto 0 auto;
		letter-spacing: 2rpx;
	}
}